.product-feature-front {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem;
  height: 80vh;
  background-image: url("../images/feature_page_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-left: 7rem;
  padding-right: 3rem;

  img {
    margin: auto;
  }

  .contact-us {
    margin: 5rem 0;
    text-align: left;

    @media screen and (max-width: 1032px) {
      a:first-child {
        line-height: 1.85;
      }
    }
  }

  .secondary-button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid white;
    background-color: transparent;
    margin-left: 1rem;
  }

  .left {
    max-width: 670px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .right {
    margin: auto 0;
    img {
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
      max-width: 250px;

    }
  }
}

.product-feature-primer {
  text-align: center;
  padding: 3rem 0;

  .title {
    margin-bottom: 4rem;
  }

  .primer {
    border: 2px solid #efefef;
    border-radius: 5px;
    padding: 0.8rem;
    /* color: white; */
  }

  .primer:first-child {
    background-color: #e37b98;
  }
  .primer:nth-child(2) {
    background-color: #71bb91;
  }
  .primer:nth-child(3) {
    background-color: #54bbff;;
  }
}

.product-feature-primer .primer img, .product-feature .title img{
  padding: 1.5rem 0;
  width: 3rem;
}

.closing {
  padding: 3rem;
  background-color: #FDD500;
  text-align: center;

  @media screen and (min-width: 1032px) {
    h2 {
      margin-bottom: 4rem;
    }
  }
}

.product-feature-last-section {
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1032px) {
  .product-feature-front .left {
    margin-right: 2rem;
  }

  .product-feature-primer {
    /* // height: 55vh; */
    margin-bottom: 5rem;
    .primers {
      display: flex;
      justify-content: center;
      padding: 0 2rem;
    }

    .primer {
      /* // margin: 0 1rem; */
      max-width: 300px;
    }
  }

  .product-features {
    .title {
      margin-top: 30px;
      text-align: center;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 3rem;
  
      img {
        margin-right: 3rem;
        max-width: 600px;
      }
    }
  }

  .product-feature {
    margin-bottom: 20px;
    
    .title {
      text-align: center;
      margin-bottom: 15px;
    }

    .feature-list {
      max-width: 290px;
    }
  }

  .closing-points {
    display: flex;
    justify-content: space-between;

    .closing-point {
      max-width: 370px;
    }
  }

  .additional-features {

    section.title img {
      margin-bottom: 10px;
    }
    /* h3 {
      margin-top: 5px;
    } */
    .content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 1rem 3rem;
    }
    
    .additional-feature {
      text-align: center;

      p {
        max-width: 400px;
      }
    }
    .additional-feature img {
      max-width: 350px;
      margin: 0;
    }

    .more-features {
      text-align: center;
      margin-top: 80px;
      margin-bottom: 100px;
    }
  }
}

@media screen and (max-width: 1032px) {
  .additional-features {
    .additional-feature {
      display: flex; 
      align-items: center;
      flex-direction: column;
      /* justify-content: space-around; */
      /* margin: 1rem 3rem; */
    }

    .additional-feature {
      text-align: center;
      p {
        max-width: 400px;
      }
    }
    feature img {
      max-width: 300px;
    }
    
    .more-features {
      text-align: center;
      margin-top: 80px;
      margin-bottom: 100px;
    }
  }

  .product-feature-primer {
    padding: 1rem 1.5rem;

    .title {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
    }

    .primers {
      margin: 1rem 1rem;
    }
  }

  .product-feature-front {
    padding: 0 1rem;

    .left {
      padding-top: 2rem;

      .contact-us {
        display: flex;
        margin: 1rem 0;
        a {
          padding: 1rem 1.5rem;
        }
      }

      h1 {
        margin-left: 0;
      }
    }
  }

  .product-features {
    text-align: center;

    .title {
      margin-bottom: 50px;

      h1 {
        margin-top: 50px;
      }
    }

    .content img {
      /* margin-bottom: 10px; */
      /* max-width: 750px; */
    }

    .feature-list {
      margin-bottom: 3rem;
    }

    .feature-description {
      max-width: 65vw;
      margin: 0 auto;
    }
  }

  .closing h2 {
    margin-bottom: 3rem;
  }

  .closing-point {
    /* width: : */
    max-width: 400px;
    margin: 0 auto;
  }

  .product-feature-last-section {
    .contact-us {
      margin: 1rem;
    }
  }

}
